@import "./variables.scss";
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); //  remove tap highlight color for mobile safari
}

body {
  margin: 0;
  min-width: 320px;
} /* Remove body margins */


.Global {
  font-size: 16px;
  input {
    outline: none;
  }
  min-width: 320px;
  color: $secondary-color;
  font-family: "Montserrat", sans-serif;
  a {
    text-decoration: none !important;
    color: $primary-color;
  }
  a:hover {
    color: $primary-color;
  }
  a:visited {
    color: $primary-color;
  }
}
