$tertiary-color: #243447;
$secondary-color: #03183f;
$secondary-color-lighter: #354469;
$secondary-color-light: #6b7077;
$secondary-color-live-course: #311b92;
$primary-color: #D80098;
$primary-color-darker: #bc268a;
$header-height: 150px;
$header-background: white;
$breakpoint-mobile: 900px;
$breakpoint-tablet: 800px;