@import "../../../theme/variables.scss";

.Subscription {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  &__FieldError {
    color: red;
    display: block;
  }
  &__Row {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    // label {
    //   display: none;
    // }
  }
  &__SubscribeButton {
    cursor: pointer;
    background-color: $primary-color;
    padding-left: 2em;
    padding-top: 0.6em;
    padding-right: 2em;
    padding-bottom: 0.6em;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 4px 4px 0px;
    height: 51px;
    // border-radius: 0px 20px 20px 0px;
    border: 1px solid $primary-color;
    outline: 0px;
    &--smaller {
      padding: 0.9em;
      font-size: 14px;
    }
    &:hover {
      background-color: $primary-color-darker;
    }
  }

  &__FieldErrorRow {
    padding-top: 10px;
    height: 40px;
  }
  input {
    width: 100%;
    max-width: 340px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    outline: none !important;
    border-radius: 4px 0px 0px 4px;
    color: $primary-color;
    line-height: 65px;
    background-color: white !important;
    font-weight: bold;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none !important;
    @media (max-width: $breakpoint-mobile) {
      max-width: 260px;
    }
  }
  input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none !important;
  }
  input:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none;
    // border-color: $primary-color!important;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  padding-top: 50px;
  padding-bottom: 60px;
  min-height: 430px;
  width: 100%;
  &__SubscriptionWrapper {
    display: flex;
    text-align: center;
    width: 800px;
  }
  h2 {
    color: white;
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-mobile) {
      font-size: 22px;
    }
  }
}
